#show_bg {
    background-image:
    linear-gradient(to bottom, rgba(128, 255, 128, 0.52), rgba(0, 153, 255, 0.73));
    width: 100%;
    height: 900px;
    background-size: cover;
    color: white;
    padding: 20px;
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
  height: 54vh;
  font-size: 25px;
  font-family:"Candara";
}

.centered {
	
  position: absolute;
  top: 75%;
  left: 69%;
  transform: translate(-50%, -50%);
}

.navbar {
  overflow: hidden;
  /*background-color: #a8dea8;*/
  position:absolute;
  bottom: 0;
  
}

/* Style the links inside the navigation bar */
.navbar a {
  
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}




